@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html {
    font-family: "DM Sans", sans-serif;
}


@theme {
    /* Custom text sizes */
    --text-2xs: 0.625rem;

    /* Custom Breakpoints */
    --breakpoint-xs: 480px;

    /* backgroundImage {
        gradient-radial: radial-gradient(var(--tw-gradient-stops));
        gradient-conic: conic-gradient(
            from 180deg at 50% 50%,
            var(--tw-gradient-stops)
        );
    } */
    /* Custom Theme colors */
    --color-primary: #190b28ff;
    --color-secondary: #70798cff;
    --color-tertiary: #b4b8c6ff;
    --color-white: #f8f7ffff;

    /* Custom Animations */
    --animate-spin-slow: spin 5s linear infinite;
}

@plugin 'tailwind-scrollbar';
